/* Reset CSS (JANGAN DIHAPUS) */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins";
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.Perkenalan {
    background-image: url(/assets/images/laptop.jpg);
    background-size: cover;
    text-align: left;
    padding: 150px 0 200px 50px;
    color: #C8D6E5;
}

.Perkenalan h1 {
    font-size: 72px;
    padding-bottom: 0px;
}

.Perkenalan h2 {
    font-size: 36px;
    padding-bottom: 10px;
    opacity: 0.8;
}

.Perkenalan p {
    font-size: 14px;
    opacity: 0.6;
}

.btn-wrapper {
    margin: 40px 0;
}

.btn {
    
    font-size: 18px;
    color: #000000;
    background-color: #1DD1A1;
    opacity: 0.8;
    padding: 5px 12px;
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.5);
}

.btn:hover {
    opacity: 1;
}

.Materi {
    position: relative;
    text-align: center;
    margin-bottom: 80px;
}

.kotak {
    background-color: #222F3E;
    z-index: 1;
    position: absolute;
    top: -50px;
    width: 1170px;
    border-radius: 40px;
}

.heading-a {
    color: #C8D6E5;
    font-size: 36px;
    font-weight: normal;
    padding: 50px 0;
    text-align: center;
    display: inline-block;
}

.lessons {
    text-align: center;
    display: inline-block;
    margin-bottom: 50px;
}

.lesson {
    float: left;
    width: 300px;
    height: 370px;
    background-color: #C4C4C4;
    margin: 19px;
    text-align: center;
    border-radius: 20px;
}

.lesson-icon {
    text-align: center;
    padding: 20px 10px;
}

.lesson p {
    width: 80%;
    display: inline-block;
}

.heading-a {
    padding-bottom: 80px;
}

.Tim {
    margin-top: 750px;
    margin-bottom: 80px;
    text-align: center;
}

.heading-b {
    font-size: 48px;
    color: #222F3E;
    padding-bottom: 80px;
}

.all {
    text-align: center;
    margin: 0 auto;
}

.anggota-up {
    display: inline-block;
    width: 300px;
    height: 500px;
    background-color: #222F3E;
    margin: 19px;
    text-align: center;
    border-radius: 20px;
}

.anggota-down {
    display: inline-block;
    width: 300px;
    height: 500px;
    margin: 19px;
    background-color: #222F3E;
    text-align: center;
    border-radius: 20px;
}

.txt-anggota{
    width: 80%;
    color: #C8D6E5;
    display: inline-block;
}

/* CSS PortFolio ya man teman */
@keyframes fadeInDown {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
}
  
.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.container {
    display: inline-block;
    margin: 0 auto;
    margin-top: 50px;
    width: 95%;
}
  
.container h2 {
    margin: 0 auto;
    font-size: 3em;
    line-height: 1.618em;
    color: #eceff1;
    padding-top: 25px;
}
  
#portfolio {
    margin-bottom: 50px;
    text-align: center;
}
  
#portfolio .wrap {
    display: inline-block;
    margin-top: 15px;
    background: #263238;
    text-align: left;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .05);
    border-radius: 12px;
}

#portfolio .wrap2 {
    display: inline-block;
    margin: 15px 20px;
    background: #eceff1;
    text-align: left;
    border-radius: 12px;
}
  
#portfolio .wrap:first-of-type {
    margin-top: 0;
}
  
#portfolio .image {
    line-height: 0;
}
  
#portfolio .caption {
    padding: 10px 30px;
}
  
#portfolio h3 {
    margin: 0;
    padding-top: 20px;
    font-size: 2em;
    line-height: 1.75em;
}

#portfolio p {
    margin: 0;
    font-size: 1.5em;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 1.75em;
}
  
#portfolio .button {
    display: inline-block;
    margin: 15px 0 15px;
    padding: 5px 15px;
    line-height: 35px;
    background: #2ebf91;
    color: #eceff1;
    border-radius: 25px;
    box-shadow: 0 5px #228c6a;
    transition: .15s all;
}
  
#portfolio .button:hover {
    background: #b0bec5;
    color: #263238;
    box-shadow: 0 5px #90a4ae;
    transition: .15s all;
}
  
#portfolio .button:active {
    margin: 20px 0 10px;
    box-shadow: none;
}

#portfolio .image,#portfolio .caption {
    float: left;
    width: 50%;
}

@media screen and (max-width: 800px) {
    body {
      font-size: 16px;
    }
  
    .container {
      width: 90%;
    }

    #portfolio h2 {
        margin: 0;
        font-size: xx-large;
    }

    #portfolio h3 {
        margin: 0;
        padding-top: 10px;
        font-size: x-large;
    }

    #portfolio p {
        margin: 0;
        font-size: small;
    }

    #portfolio .wrap {
      border-radius: 10px;
    }

    #portfolio .wrap2 {
        border-radius: 10px;
    }

    #portfolio .image,
    #portfolio .caption {
      width: 100%;
    }
  
} 
